@model List<ChieuTrucDB.Models.SanPham>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-head_agile_info_w3l">

</div>
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">Trang chủ</a>
                    <i>></i>
                </li>
                <li>@ViewBag.Title</li>
            </ul>
        </div>
    </div>
</div>
<style>
    .ads-grid {
        font-family: 'Open Sans', sans-serif;
        line-height: 30px;
        font-size: 13px;
    }

    .page-head_agile_info_w3l {
        font-family: 'Open Sans', sans-serif;
    }

    .services-breadcrumb {
        font-family: 'Open Sans', sans-serif;
    }
</style>
<div class="ads-grid">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            @ViewBag.Title
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <div style="margin-left:500px;">@Html.Raw(ViewBag.ThongBao)</div>

        <div class="agileinfo-ads-display col-md-12 w3l-rightpro">
            <div class="wrappers">
                <!-- first section -->
                <div class="product-sec1">
                    @foreach (var item in Model.OrderByDescending(item => item.MaSanPham).ToList())
                    {
                                <div class="col-xs-4 product-men">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item">
                                            <img class="product-thumnail" src="@item.HinhAnh" alt="">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="/san-pham/@item.MetaTitle-@item.IdSanPham" class="link-product-add-cart">XEM CHI TIẾT</a>
                                                </div>
                                            </div>
                                            <span class="product-new-top">Mới</span>
                                        </div>
                                        <div class="item-info-product ">
                                            <h4>
                                                <a href="/san-pham/@item.MetaTitle-@item.IdSanPham">@item.TenSanPham</a>
                                            </h4>
                                            <div class="info-product-price">
                                                <span class="item_price">@String.Format("{0:0,0} VNĐ", item.GiaTien)</span>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                <input type="submit" name="submit" value="@Html.Raw(item.SoLuong > 0 ? "Còn hàng" : "Hết hàng")" class="button" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        }
                       
                   
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
